<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <!--/*@thymesVar id="input" type="com.goodchoice.infra.email.model.EmailTemplateInput.EmployeeInvitation"*/-->
    <head>
        <title>GoodChoice employee invitation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body th:object="${input}">
        <div class="container">
            <div class="card my-5">
                <div class="card-body">
                    <h1>Join GoodChoice</h1>
                    <p>
                        <span th:if="*{not #strings.isEmpty(suggestedFirstName)}">Hi, [[*{suggestedFirstName}]].</span>
                        It is so exciting that you will be a part of our team.
                        We are waiting for you to follow the link below and go through the registration process.
                    </p>
                    <a th:href="*{registrationUrl}" href="#" th:text="*{registrationUrl}">https://example.com?token=abcdefghi</a>
                    <p>Make your good choice!</p>
                </div>
            </div>
        </div>
    </body>
</html>
